//* --- ПЕРЕМЕННЫЕ -----------------------*/
$color_black: #000000;
$color_blue: #3949ab;
$color_green: #00897b;
$color_gray: #f0f1f1;
$color_white: #ffffff;
$color_green-light: #e4fdf9;
$color_black-light: #222321;

/* === ГЛОБАЛЬНЫЕ БЛОКИ =================*/
.wraper {
    max-width: 100%;
    overflow: hidden;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}
.container {
    max-width: 1372px;
    margin: 0px auto;
    padding: 0px 10px;
    box-sizing: content-box;
}
.hidden {
    display: none;
}
/* --- ШАБЛОНЫ ------------------------ */

%block {
    padding: 115px 0;
    @media (max-width: 1200px) {
        padding: 90px 0;
    }
    @media (max-width: 992px) {
        padding: 80px 0;
    }
    @media (max-width: 767px) {
        padding: 70px 0;
    }
    @media (max-width: 480px) {
        padding: 30px 0;
    }
}
%head-block-margin {
    margin-bottom: 115px;
    @media (max-width: 1200px) {
        margin-bottom: 100px;
    }
    @media (max-width: 992px) {
        margin-bottom: 85px;
    }
    @media (max-width: 767px) {
        margin-bottom: 70px;
    }
}

@mixin head-block($color) {
    text-align: center;
    .head__arrow {
        display: none;
        @media (max-width: 480px) {
            display: inline-block;
        }
    }

    .head-block__title {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: calc(42 / 36 * 100%);
        letter-spacing: 0.1em;
        color: $color;
        margin-bottom: 30px;
        @media (max-width: 480px) {
            font-size: 26px;
            margin-bottom: 15px;
        }
    }

    .head-block__text {
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        line-height: calc(24 / 18 * 100%);
        text-align: center;
        letter-spacing: 0.1em;
        color: $color;
        max-width: 822px;
        margin: 0px auto;
        @media (max-width: 480px) {
            font-size: 14px;
            margin-bottom: 30px;
        }
    }
}

/* @mixin button($bgc) {
    
    font-family: Roboto;
    font-weight: 700;
    font-size: 22px;
    min-width: 220px;
    min-height: 70px;
    line-height: calc(26 / 22 * 100%);
    letter-spacing: 0.1em;
    color: $color_white;
    background-color: $bgc;
    border: 4px solid $bgc;
    padding: 18px 0;
    text-align: center;
    @media (max-width: 480px) {
        min-height: 25px;
        min-width: 110px;
        font-size: 10px;
        padding: 7px 0;
    }
} */
.button-more {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    min-width: 220px;
    font-size: 20px;
    line-height: calc(22 / 20 * 100%);
    text-align: center;
    letter-spacing: 0.1em;
    color: $color_white;
    background-color: $color_green;
    @media (max-width: 480px) {
        font-size: 16px;
        min-height: 40px;
        min-width: 130px;
        padding: 5px 0;
    }
}

.rotate {
    transform: rotate(180deg);
}
.x-mark {
    transform:  translate(0, 12px) rotate(45deg);
}
.x-mark2 {
    transform: translate(0, 6px) rotate(-45deg);
}
.button__default {
    border: 2px solid $color_black;
    color: $color_black;
}

.button__active {
    color: #fff;
    background-color: $color_green;
    border: 2px solid $color_green;
}

.services__item-active {
    color: $color_white;
    background-color: $color_green;
}
.services__item-default {
    background-color: $color_white;
}

.services__button-default {
    color: $color_black;
    background: $color_white;
    border: 2px solid $color_black;
}
.services__button-active {
    color: $color_white;
    background: $color_green;
    border: 2px solid $color_white;
}
/* ============================== */

/* --- HEADER --------------------*/
.header {
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: $color_white;
    padding: 22px 0px;
    @media (max-width: 480px) {
        padding: 17px 0px 25px 0;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 992px) {
            align-items: flex-start;
        }
    }

    &__label {
        display: flex;
        padding: 0 10px;
        @media (max-width: 480px) {
            padding: 0 0 0 10px;
            & img {
                width: 55px;
            }
        }
    }

    &__text {
        padding-top: 8px;
        max-width: 121px;
        font-size: 16px;
        line-height: calc(22 / 16 * 100%);
        letter-spacing: 0.1em;
        color: $color_black;
        @media (max-width: 480px) {
            font-size: 10px;
            line-height: calc(14 / 10 * 100%);
            max-width: 75px;
        }
    }

    &__menu {
        padding: 0 10px;
        @media (max-width: 992px) {
            padding: 0 10px 0 0;
            text-align: right;
        }
    }

    &__list {
        display: flex;
        font-size: 20px;
        line-height: calc(22 / 20 * 100%);
        letter-spacing: 0.1em;
        color: $color_black;
        @media (max-width: 992px) {
            display: none;
        }
    }
    &__list-burger {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 22px;
        line-height: calc(44 / 22 * 100%);
        letter-spacing: 0.1em;
        color: $color_black;
        margin: 20px 20px 0 0;
        
    }

    &__item {
        &:not(:last-of-type) {
            margin-right: 47px;
            @media (max-width: 1200px) {
                margin-right: 28px;
            }
            @media (max-width: 992px) {
                margin-right: 0px;
            }
            @media (max-width: 480px) {
                min-width: 135px;
            }
        }
        a {
            color: inherit;
        }
    }
    &__item:hover{
        text-decoration: underline;
    }
}
.burger {
    display: inline-block;
    margin: 20px 0px 0px 0px;
}
.burger__item {
    position: relative;
    margin-bottom: 4px;
    width: 42px;
    height: 4px;
    background-color: $color_black;
    z-index: 5;
    @media (min-width: 992px) {
        display: none;
    }
}
/* --- BANNER ------------------- */
.banner {
    margin-top: 120px;
    padding: 217px 0 228px 0;
    background: url("../img/bg.png") 0 0 / 100% 100% no-repeat;

    @media (max-width: 1200px) {
        padding: 90px 0px;
    }
    @media (max-width: 767px) {
        padding: 40px 0px;
    }
    @media (max-width: 480px) {
        padding: 10px 0px;
        margin-top: 95px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 70px;
        letter-spacing: 0.1em;
        margin-bottom: 45px;
        color: $color_white;
        text-align: center;
        @media (max-width: 1200px) {
            font-size: 60px;
        }
        @media (max-width: 992px) {
            font-size: 50px;
        }
        @media (max-width: 767px) {
            font-size: 25px;
            margin-bottom: 27px;
        }
        @media (max-width: 480px) {
            font-size: 16px;
            margin-bottom: 10px;
        }
    }

    &__subtitle {
        font-weight: 400;
        font-size: 30px;
        line-height: calc(36 / 30 * 100%);
        letter-spacing: 0.1em;
        color: $color_white;
        margin-bottom: 127px;
        text-align: center;
        @media (max-width: 1200px) {
            font-size: 25px;
        }
        @media (max-width: 992px) {
            margin-bottom: 100px;
            font-size: 20px;
        }
        @media (max-width: 767px) {
            font-size: 15px;
            margin-bottom: 45px;
            max-width: 360px;
        }
        @media (max-width: 480px) {
            font-size: 10px;
            margin-bottom: 15px;
            max-width: 180px;
        }
    }

    &__buttons {
        display: flex;
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__button {
        /* display: inline-block;
        @include button($color_green); */
        font-family: Roboto;
        font-weight: 700;
        font-size: 22px;
        min-width: 220px;
        min-height: 70px;
        line-height: calc(26 / 22 * 100%);
        letter-spacing: 0.1em;
        color: $color_white;
        background-color: $color_green;
        border: 4px solid $color_green;
        padding: 18px 0;
        text-align: center;
        @media (max-width: 767px) {
            padding: 10px 0;
            min-height: 25px;
        }
        @media (max-width: 480px) {
            min-height: 25px;
            min-width: 110px;
            font-size: 10px;
            padding: 7px 0;
            border: 2px solid $color_green;
        }
    }
}
.button-service {
    background-color: transparent;
    border: 4px solid $color_white;
    margin-right: 38px;
    @media (max-width: 767px) {
        min-width: 180px;
        font-size: 15px;
        margin: 0 0 10px 0;
    }
    @media (max-width: 480px) {
        min-height: 25px;
        min-width: 110px;
        font-size: 8px;
        padding: 7px 0;
        border: 2px solid $color_white;
    }
}
.button-hire {
    @media (max-width: 767px) {
        min-width: 180px;
        font-size: 15px;
    }
    @media (max-width: 480px) {
        min-height: 25px;
        min-width: 110px;
        font-size: 8px;
        padding: 7px 0;
    }
}

/* --- ABOUT ----------------------------- */
.about {
    @extend %block;
    @include head-block(#000000);

    @media (max-width: 480px) {
        padding: 30px 0;
    }

    &__top {
        margin-bottom: 105px;
        @media (max-width: 1200px) {
            margin-bottom: 95px;
        }
        @media (max-width: 992px) {
            margin-bottom: 80px;
        }
        @media (max-width: 767px) {
            margin-bottom: 65px;
        }
        @media (max-width: 480px) {
            margin-bottom: 0px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 0px 87px;
        @media (max-width: 992px) {
            padding: 0px 40px;
        }
        @media (max-width: 767px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
        }
        /* @media (max-width: 480px) {
            display: none;
        } */
    }

    &__column {
        @media (max-width: 767px) {
            margin-top: 30px;
        }
    }

    &__item {
        text-align: center;
    }

    &__icon {
        margin-bottom: 30px;
        @media (max-width: 767px) {
            margin-bottom: 15px;
        }
    }

    &__title {
        font-weight: inherit;
        font-size: 20px;
        line-height: calc(22 / 20 * 100%);
        letter-spacing: 0.1em;
        color: $color_black;
        margin-bottom: 30px;
        @media (max-width: 767px) {
            font-size: 20px;
            margin-bottom: 15px;
        }
    }

    &__text {
        font-weight: 400;
        padding: 0 20px;
        font-size: 15px;
        line-height: calc(22 / 15 * 100%);
        text-align: center;
        letter-spacing: 0.1em;
        color: $color_black;
        max-width: 238px;
        @media (max-width: 767px) {
            margin-right: 0px;
        }
    }
}

/* --- SERVICES -------------------------- */
.services {
    @extend %block;
    @media (max-width: 480px) {
        padding: 30px 0px;
    }

    background-color: $color_green-light;
    text-align: center;
    @include head-block(#000000);

    &__top {
        margin-bottom: 110px;
        @media (max-width: 1200px) {
            margin-bottom: 95px;
        }
        @media (max-width: 992px) {
            margin-bottom: 80px;
        }
        @media (max-width: 767px) {
            margin-bottom: 65px;
        }
        @media (max-width: 480px) {
            margin-bottom: 0px;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 87px;
        margin: 0 -22px;
        @media (max-width: 1200px) {
            padding: 0 40px;
        }
        @media (max-width: 480px) {
            /*  padding: 0 10px; */
            min-width: 300px;
            padding-top: 10px;

            display: flex;
            /* display: none; */
        }
    }

    &__column {
        padding: 0 22px;
        flex: 0 1 33.333%;
        margin-bottom: 45px;
        @media (max-width: 1200px) {
            flex: 0 1 50%;
        }
        @media (max-width: 767px) {
            flex: 0 1 100%;
            padding: 0 40px;
        }
        @media (max-width: 767px) {
            margin: 20px 0 0 0;
        }
        @media (max-width: 480px) {
            padding: 0;
            flex: 0 1 300px;
        }
    }

    &__item {
        padding: 50px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /*  background-color: $color_white; */
        @media (max-width: 480px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding: 30px 30px;
        }
    }

    &__icon {
        margin-bottom: 40px;
        @media (max-width: 480px) {
            flex: 0 1 56px;
            margin-bottom: 30px;
        }
    }

    &__title {
        font-weight: inherit;
        font-size: 20px;
        line-height: calc(22 / 20 * 100%);
        text-align: center;
        letter-spacing: 0.1em;
        margin-bottom: 20px;
        @media (max-width: 480px) {
            flex: 0 1 50%;
            padding: 15px 0 0 21px;
            align-self: flex-start;
            text-align: left;
        }
    }

    &__text {
        max-width: 291px;
        font-weight: 400;
        font-size: 15px;
        line-height: calc(25 / 15 * 100%);
        text-align: center;
        letter-spacing: 0.1em;
        margin-bottom: 40px;
        @media (max-width: 480px) {
            display: none;
        }
    }

    &__button {
        min-height: 55px;
        padding: 5px 14px;
        display: flex;
        align-items: center;
        font-size: 20px;
        line-height: calc(22 / 20 * 100%);
        text-align: center;
        letter-spacing: 0.1em;
        /* color: $color_black;
        background: $color_white;
        border: 2px solid $color_black; */
        @media (max-width: 480px) {
            flex: 0 1 130px;
            padding: 0px 12px;
            font-size: 15px;
        }
    }

    &__button-view {
        /*   display: inline-block;
        padding: 24px 57px;
        min-height: 70px;
        width: 220px;
        font-size: 20px;
        line-height: calc(22 / 20 * 100%);
        text-align: center;
        letter-spacing: 0.1em;
        color: $color_white;
        background-color: $color_green; */
        @media (max-width: 767px) {
            margin-top: 30px;
        }
    }
}

/* --- PLAN ------------------------------ */
.plan {
    @extend %block;
    background-color: $color_gray;
    text-align: center;
    @include head-block(#000000);

    @media (max-width: 480px) {
        padding: 30px 0px;
    }

    &__top {
        @extend %head-block-margin;
        @media (max-width: 480px) {
            margin-bottom: 0px;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: 480px) {
            flex-direction: column;
            margin: 30px -15px 0 -15px;
            /* display: none; */
        }
    }
    &__column {
        flex: 0 1 33.333%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 992px) {
            flex: 0 1 50%;
            &:last-of-type {
                margin-top: 40px;
            }
        }
        @media (max-width: 767px) {
            flex: 0 1 100%;
            margin: 0 -15px 20px -15px;
            &:last-of-type {
                margin-top: 0px;
            }
        }

        @media (max-width: 480px) {
            width: 100%;
            max-width: 320px;
            &:last-of-type {
                margin-top: 0px;
            }
        }
    }
    &__item {
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 390px;
        background-color: $color_white;
        &:hover {
            box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.35);
        }
        @media (max-width: 1280px) {
            max-width: 365px;
        }
        @media (max-width: 1200px) {
            max-width: 300px;
        }
        @media (max-width: 992px) {
            max-width: 350px;
        }
        @media (max-width: 480px) {
            max-width: 320px;
        }
    }

    &__item-head {
        padding: 50px 0;
        background-color: $color_blue;
        img {
            visibility: hidden;
        }
        @media (max-width: 1200px) {
            padding: 25px 0px 15px 0px;
        }
        @media (max-width: 480px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            padding: 20px 0px;
            img {
                visibility: visible;
            }
        }
    }

    &__title {
        font-weight: 400;
        font-size: 25px;
        line-height: calc(22 / 25 * 100%);
        letter-spacing: 0.1em;
        color: $color_white;
        margin-bottom: 50px;

        @media (max-width: 1200px) {
            font-size: 22px;
            margin-bottom: 20px;
        }
        @media (max-width: 480px) {
            flex: 0 1 50%;
            font-size: 22px;
            padding-top: 12px;
            margin-bottom: 50px;
        }
    }

    &__rate {
        font-weight: 400;
        font-size: 50px;
        text-align: center;
        letter-spacing: 0.1em;
        color: $color_white;
        flex: 0 1 50%;
        span {
            font-weight: 400;
            font-size: 20px;
            line-height: calc(22 / 20 * 100%);
            text-align: center;
            letter-spacing: 0.1em;
            color: $color_white;
            @media (max-width: 1200px) {
                font-size: 18px;
            }
            @media (max-width: 480px) {
                text-align: center;
                display: block;
            }
        }
        sup {
            font-weight: 400;
            font-size: 25px;
            text-align: center;
            letter-spacing: 0.1em;
            color: $color_white;
            @media (max-width: 1200px) {
                font-size: 20px;
            }
            @media (max-width: 480px) {
            }
        }
        @media (max-width: 1200px) {
            font-size: 30px;
        }
        @media (max-width: 480px) {
            border-left: 1px solid $color_white;
            height: 55px;
        }
    }

    &__item-body {
        color: $color_black;
        padding: 25px 0 50px 0;
        @media (max-width: 480px) {
            padding: 0 0 20px 0;
        }
        @media (max-width: 1200px) {
            padding: 20px 0px 40px 0;
        }
    }

    &__list {
        li {
            padding-top: 20px;
            font-weight: 300;
            font-size: 17px;
            line-height: calc(50 / 17 * 100%);
            text-align: center;
            letter-spacing: 0.1em;
            color: $color_black;
            max-width: 190px;
            margin: 0px auto;
            border-bottom: 1px solid gray;
            @media (max-width: 1200px) {
                padding-top: 10px;
            }
            @media (max-width: 480px) {
                line-height: calc(40 / 17 * 100%);
            }
        }
        margin-bottom: 50px;
        @media (max-width: 480px) {
            margin-bottom: 20px;
        }
    }

    &__button {
        font-weight: 600;
        font-size: 20px;
        line-height: calc(22 / 20 * 100%);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        /* border: 2px solid $color_black; */
        padding: 17px 23px;
        display: inline-block;
        @media (max-width: 480px) {
            font-size: 14px;
            padding: 10px 0;
            width: 130px;
        }
    }
}

/* --- TEAM------------------------------- */
.team {
    @extend %block;
    @media (max-width: 480px) {
        padding: 30px 0px;
    }
    @include head-block(#000000);
    &__container {
        @media (max-width: 480px) {
            margin: 0 -15px;
        }
    }

    &__top {
        @extend %head-block-margin;
        @media (max-width: 480px) {
            margin: 0 15px 0px 15px;
        }
    }
    &__content {
        @media (max-width: 480px) {
            margin-top: 30px;
        }
    }

    &__column {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow-x: hidden;
        @media (max-width: 992px) {
            justify-content: space-around;
        }
    }

    &__item {
        flex: 0 1 33.333%;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 390px;
        margin-bottom: 115px;
        @media (max-width: 1200px) {
            max-width: 350px;
        }
        @media (max-width: 992px) {
            max-width: 390px;
            padding: 0 10px;
            flex: 0 1 50%;
            &:nth-child(3) {
                display: none;
            }
        }
        @media (max-width: 767px) {
            padding: 0;
            flex: 0 1 100%;
            &:nth-child(2) {
                display: none;
            }
        }
        @media (max-width: 480px) {
            max-width: 320px;
            margin-bottom: 40px;
        }
    }

}
.member {
    &__photo {
        /* height: 340px; */
        margin-bottom: 40px;
        padding: 0 2px;
        img {
            width: 100%;
            @media (max-width: 1200px) {
                padding: 0 5px;
            }
            @media (max-width: 992px) {
                padding: 0;
            }
        }
        @media (max-width: 992px) {
            padding: 0;
        }
        @media (max-width: 480px) {
            margin-bottom: 30px;
        }
    }

    &__name {
        font-size: 24px;
        font-weight: inherit;
        line-height: calc(22 / 24 * 100%);
        letter-spacing: 0.1em;
        color: $color_black;
        margin-bottom: 15px;
    }

    &__position {
        font-weight: 400;
        font-size: 20px;
        line-height: calc(22 / 20 * 100%);
        letter-spacing: 0.1em;
        color: $color_black;
        margin-bottom: 40px;
        @media (max-width: 480px) {
            margin-bottom: 30px;
        }
    }

    &__contacts {
        width: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: space-around;
        @media (max-width: 992px) {
            padding: 0 5px;
        }
    }

    &__link {
        flex: 0 1 50px;
        display: inline-block;
        &:hover {
            outline: 1px solid $color_green;
            border-radius: 10px;
        }
    }
}
.pagination {
    display: flex;
    justify-content: space-between;
    max-width: 90px;
    margin: 0px auto;
    @media (max-width: 992px) {
        max-width: 125px;
    }
    @media (max-width: 767px) {
        max-width: 160px;
    }
    /* @media (max-width: 480px) {
        display: none;
    } */

    &__page {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $color_green;
        &:nth-child(4),
        &:nth-child(5) {
            display: none;
        }
        @media (max-width: 992px) {
            &:nth-child(4) {
                display: block;
            }
        }
        @media (max-width: 767px) {
            &:nth-child(5) {
                display: block;
            }
        }
    }
}
.page-active {
    background-color: $color_blue;
}

/* ---BLOG--------------------------------- */
.blog {
    @extend %block;
    @include head-block(#000000);
    background-color: $color_green-light;

    &__top {
        @extend %head-block-margin;
        @media (max-width: 480px) {
            margin: 0 15px 0px 15px;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        @media (max-width: 992px) {
            align-items: center;
        }
        @media (max-width: 480px) {
            margin-bottom: 35px;
        }
    }

    &__item {
        display: flex;
        &:nth-child(1) .blog__title {
            color: $color_green;
            /* @media (max-width: 992px) {
                flex-direction: column;
            } */
        }
        &:nth-child(1) .blog__column {
            @media (max-width: 992px) {
                padding: 0px 0px 35px 10px;
            }
            @media (max-width: 480px) {
                padding: 0px 0px 0px 10px;
            }
        }
        &:nth-child(2n) {
            flex-direction: row-reverse;
            @media (max-width: 992px) {
                flex-direction: column-reverse;
            }
            @media (max-width: 480px) {
                flex-direction: row;
            }
        }
        @media (max-width: 992px) {
            flex-direction: column-reverse;
            padding: 0 15px;
        }
        @media (max-width: 480px) {
            flex-direction: row;
            max-width: 100%;
            padding: 0;
            margin-top: 35px;
        }
    }

    &__image {
        flex: 0 1 50%;
        min-width: 300px;
        max-height: 460px;
        img {
            width: 100%;
            height: auto;
            @media (max-width: 992px) {
                max-width: 685px;
                height: auto;
            }
        }
        @media (max-width: 480px) {
            min-width: 100px;
        }
    }

    &__column {
        flex: 0 1 50%;
        min-width: 300px;
        text-align: left;
        padding: 80px 70px 0px 70px;
        @media (max-width: 1200px) {
            padding: 50px 45px 0px 45px;
        }
        @media (max-width: 992px) {
            max-width: 685px;
            padding: 80px 0 35px 0;
        }
        @media (max-width: 480px) {
            padding: 0 0 0 10px;
            min-width: auto;
        }
    }

    &__title {
        font-weight: inherit;
        font-size: 30px;
        line-height: calc(22 / 30 * 100%);
        letter-spacing: 0.1em;
        margin-bottom: 50px;
        @media (max-width: 1200px) {
            margin-bottom: 35px;
        }
        @media (max-width: 480px) {
            font-size: 16px;
            margin-bottom: 11px;
        }
    }

    &__development {
        display: flex;
        font-size: 18px;
        line-height: calc(22 / 18 * 100%);
        letter-spacing: 0.1em;
        margin-bottom: 50px;
        @media (max-width: 1200px) {
            margin-bottom: 35px;
        }
        @media (max-width: 992px) {
            justify-content: flex-start;
        }
        @media (max-width: 480px) {
            font-size: 14px;
            flex-direction: column;
            margin-bottom: 0;
        }
    }

    &__calendar {
        background: url("../img/blog/calendar.jpg") left center no-repeat;
        margin-right: 70px;
        padding-left: 40px;
        @media (max-width: 480px) {
            margin-bottom: 8px;
        }
    }

    &__dev {
        background: url("../img/blog/dev.jpg") left center no-repeat;
        padding-left: 37px;
        @media (max-width: 480px) {
            margin-left: 2px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: calc(26 / 18 * 100%);
        letter-spacing: 0.1em;
        @media (max-width: 992px) {
            display: inline-block;
            max-width: 700px;
        }
        @media (max-width: 480px) {
            display: none;
        }
    }
    &__button {
        display: flex;
        justify-content: center;
    }
}

/* ---CONTACT------------------------------ */

.contact {
    @extend %block;
    @include head-block(#ffffff);
    background-color: $color_black-light;

    &__container {
        text-align: center;
    }

    &__content {
        @media (max-width: 480px) {
            margin-top: 30px;
        }
    }
    &__top {
        @extend %head-block-margin;
        @media (max-width: 480px) {
            margin-bottom: 0px;
        }
    }

    &__contacts {
        display: flex;
        @media (max-width: 767px) {
            flex-direction: column;
        }
        @media (max-width: 480px) {
            margin-bottom: 10px;
        }
    }

    &__item {
        flex: 0 1 33.333%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image {
        background-color: $color_blue;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        @media (max-width: 767px) {
            margin-bottom: 25px;
        }
        @media (max-width: 480px) {
            width: 70px;
            height: 70px;
            margin-bottom: 15px;
            img {
                max-width: 64%;
                max-height: 64%;
            }
        }
    }

    &__info {
        font-size: 22px;
        line-height: calc(30 / 22 * 100%);
        letter-spacing: 0.1em;
        text-align: center;
        color: $color_white;
        margin-bottom: 115px;
        a {
            color: inherit;
            display: block;
        }
        @media (max-width: 992px) {
            font-size: 20px;
            margin-bottom: 60px;
        }
        @media (max-width: 480px) {
            margin-bottom: 30px;
        }
    }

    &__button {
        font-size: 26px;
        line-height: 28 / 26 * 100%;
        text-align: center;
        letter-spacing: 0.1em;
        min-height: 100px;
        padding: 0 161px;
        color: $color_white;
        background-color: $color_blue;
        border-radius: 20px;
        @media (max-width: 992px) {
            padding: 0 130px;
            min-height: 80px;
            font-size: 22px;
        }
        @media (max-width: 992px) {
            min-height: 60px;
            padding: 0 117px;
        }
    }
}

.form {
    &__wraper {
        display: flex;
        justify-content: space-around;

        padding: 0 20px;
        width: 100%;
        @media (max-width: 767px) {
            flex-direction: column;
            margin-bottom: 35px;
        }
        @media (max-width: 480px) {
            padding: 0;
            margin-bottom: 0px;
        }

        input,
        textarea {
            flex: 0 1 100%;
            border-radius: 20px;
            padding: 30px;
            font-weight: 600;
            font-size: 20px;
            line-height: calc(28 / 20 * 100%);
            letter-spacing: 0.01em;

            @media (max-width: 992px) {
                padding: 25px;
                font-size: 16px;
            }
            @media (max-width: 480px) {
                font-size: 20px;
            }
        }
        input::placeholder,
        textarea::placeholder {
            color: $color_black;
        }
    }

    &__info {
        flex: 0 1 570px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        input {
            height: 100px;
            margin-bottom: 40px;
            @media (max-width: 992px) {
                height: 80px;
                margin-bottom: 30px;
            }
            @media (max-width: 480px) {
                margin-bottom: 15px;
                height: 60px;
                padding: 16px 25px;
            }
        }
        @media (max-width: 767px) {
            flex: 0 1 100%;
        }
    }

    &__message {
        flex: 0 1 570px;
        display: flex;
        margin-left: 30px;
        @media (max-width: 767px) {
            margin-left: 0px;
            flex: 0 1 300px;
        }
        @media (max-width: 480px) {
            flex: 0 1 150px;
        }
        textarea {
            max-height: 380px;
            @media (max-width: 992px) {
                max-height: 300px;
            }
            @media (max-width: 480px) {
                margin-bottom: 15px;
                padding: 14px 30px;
            }
        }
    }
}

/* ---FOOTER------------------------------ */
.footer {
    padding: 70px 0px 60px 0;

    @media (max-width: 992px) {
        padding: 55px 0px 45px 0px;
    }
    @media (max-width: 480px) {
        padding: 20px 0px 25px 0px;
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__menu {
        align-self: center;
    }

    &__list {
        display: flex;
        font-weight: 400;
        font-size: 20px;
        line-height: calc(22 / 20 * 100%);
        letter-spacing: 0.1em;
        color: $color_black;
        @media (max-width: 992px) {
            flex-direction: column;
            align-content: flex-start;
            font-size: 22px;
            line-height: 32px;
        }
    }

    &__item {
        &:not(:last-of-type) {
            margin-right: 47px;
            @media (max-width: 1200px) {
                margin-right: 28px;
            }
            @media (max-width: 992px) {
                /* margin: 0 0 15px 0; */
                margin: 0px;
            }
        }
        a {
            color: inherit;
        }
    }

    &__item:hover{
        text-decoration: underline;
    }

    &__info {
        text-align: right;
        @media (max-width: 480px) {
            padding-top: 7px;
        }
    }

    &__rights {
        font-weight: 400;
        font-size: 18px;
        line-height: calc(28 / 18 * 100%);
        letter-spacing: 0.0025em;
        color: $color_black;
        margin-bottom: 15px;
        text-transform: uppercase;
        @media (max-width: 480px) {
            max-width: 148px;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 8px;
        }
    }

    &__link {
        display: inline-block;
        &:nth-child(2) {
            margin-right: 13px;
        }
        @media (max-width: 480px) {
            height: 20px;
            img {
                height: 100%;
            }
        }
    }
}
